body{
	font-family: 'Open Sans', sans-serif;
	color: #231f20;
    max-width: 1240px;
}
.container {
	height: 100vh;
	background: url(../img/banner.png) no-repeat bottom;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.leftContent p {
	text-transform: uppercase;
	font-size: 24px;
	text-align: center;
}
.sendForm p{
	font-size: 16px;
	text-align: center;
}
.sendForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sendForm form input{
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	margin: 10px 0;
	border: 1px solid #231f20;
}
.sendForm form div{
	position: relative;
}
.btn{
	width: 230px;
	height: 55px;
	border:none;
	font-size: 18px;
	border-radius: 10px;
	text-align: center;
	color:#fff;
	background: #f78f1e;
	position: absolute;
	right: 0;
}