*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #231f20;
	
}
.container{
	height: 100vh;
	background: url(../img/banner.png) no-repeat bottom;
}
.content {
	display: flex;
    justify-content: space-around;
    padding-top: 20px;
 }
.leftContent{
	position: relative;
}
.leftContent p {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	position: absolute;
}
.sendForm p{
	font-size: 16px;
	text-align: center;
	padding-bottom: 20px;
}
.sendForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sendForm form input{
	border-radius: 10px;
	padding: 10px 20px;
	width: 90%;
	margin: 10px 0;
	border: 1px solid #231f20;
}
.sendForm form {
	position: relative;
	height: auto;
	padding-bottom: 70px;
}
.sendForm form .btn{
	width: 200px;
    height: 40px;
	border:none;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	text-align: center;
	color:#fff;
	background: #f78f1e;
	position: absolute;
    right: -10px;
    bottom: 0px;
}
.banner img {
	width: 100%;
}
.content.banner {
    height: 100%;
}
@media (max-width: 800px){
	.container{
		display: block;
		height: auto;
	}
	.content{
	    display: block;
	    text-align: center;
	}
	.leftContent {
	    padding-bottom: 40px;
	    position: relative;
	}
	.leftContent p {
	    position: relative;
	    padding-top: 20px;
	}
}
